## Pandas  
-Pandas helps us to work with tabular data.  
-We can read data from excel or csv files.  
-csv files are comma seperated files. We can read them with help of pandas.

In [3]:
import pandas as pd
import numpy as np

In [4]:
pokemon={
"height" : np.random.randint(50,70,5),
"weight" : np.random.randint(30,50,5),
"power" : np.random.randint(140,160,5)
}
#pokemon is a dictionary which has 3 keys height, weight, power for 5 pokemons as we have made 5values for every func.

In [5]:
print(pokemon)

{'height': array([62, 63, 52, 60, 63]), 'weight': array([48, 46, 45, 37, 40]), 'power': array([159, 159, 146, 153, 156])}

----------------------------------------------------------------------------------------------  
- We can store this above data in tabular form. To do so we need help of pandas library.

## Dataframes  
- A dataframe is a 2D data structure with columns of potentially different data types

In [6]:
df = pd.DataFrame(pokemon)
print(df)

   height  weight  power
0      62      48    159
1      63      46    159
2      52      45    146
3      60      37    153
4      63      40    156

- This looks like an excel sheet.
- It contains colums, rows, data and also 'headers like height weight power etc'.  
- 1st column is  index

In [7]:
df.head()    # it gives a better view

   height  weight  power
0      62      48    159
1      63      46    159
2      52      45    146
3      60      37    153
4      63      40    156

In [8]:
df.head(3)    # it prints onlt top 3lines excluding the headers

   height  weight  power
0      62      48    159
1      63      46    159
2      52      45    146

In [9]:
df.columns    #to see the names of columns

Index(['height', 'weight', 'power'], dtype='object')

## Create a CSV(comma seperated) file

In [29]:
df.to_csv("a0.7csv_file")      #df is dataframe that we created earlier. So we convert dataframe 'df' to csv file 'csv_file'.
#if we see after executing this command, then a csv file named csv_file will be created in our current directory.
#goto home page jupyter notebook and see there.

## Read a CSV file  
- We studies how to write into a csv file. Now let's study how to read csv file.  
- There are lot of methods to read csv file.

In [25]:
new_df = pd.read_csv("a0.7csv_file")    # it converts csv file 'csv_file' to dataframe 'new_df'.

In [26]:
new_df.head()

   Unnamed: 0  height  weight  power
0           0      62      48    159
1           1      63      46    159
2           2      52      45    146
3           3      60      37    153
4           4      63      40    156

--------------------------------------------------------------------------------------------  
- We can also delete columns:

In [27]:
new_df.drop(columns=['Unnamed: 0'])    # to delete column with name 'Unnamed: 0'

   height  weight  power
0      62      48    159
1      63      46    159
2      52      45    146
3      60      37    153
4      63      40    156

In [30]:
#while creating dataframe, we can also remove index during creation as:
df.to_csv("a0.7csv_file", index=False,header=['header1','header2','header3'])
#index=False removes the index folder. if we execute this, then index will not be found in csv file.
#header gives these 3headers and removes any headers that were given previously.

#there are many more parameters like this