## Tuples in Python
- Tuples are very much similar to list. Only difference is that tuples are immutable.
- Tuples can be defined in 2ways:  
(1) a= (1,2,3): using paranthesis  
(2) a=1,2,3   : assigning values using commas.
- But there is one exception: a= (5) , single lements inside paranthesis is int and not a tuple:

In [20]:
a=(1,2,3,4,5)
print(a)
print(type(a),end='\n\n')

#exception in this methos of defining tuples:
b=(20)
print(b)   #output is not enclosed in paranthesis shoing that this is not tuple
print(type(b), end='\n\n')

#method 2 of defining tuples
c=1, 2, 3
print(c)
print(type(c))

(1, 2, 3, 4, 5)
<class 'tuple'>

20
<class 'int'>

(1, 2, 3)
<class 'tuple'>

- Tuples are immutable but tuples are much much faster than lists and tuples consumes less memory than lists.

In [35]:
lst=[1,2,3]
print(id(lst))
#do some operations and then again check memory
lst[0]=5
print(id(lst))   # address remains same
# but address is changed everytime we execute this

139804815984384
139804815984384

In [51]:
tpl=(1,2,3)
tpl[0]=4   # shows error as tuple is immutable
#however we can use print(tpl[0]) as we are not making changes but only reading values

TypeError: 'tuple' object does not support item assignment

In [36]:
a = (1,2,3,4,5)
print(id(a))
print(id(a))   # address remains same

139804872390192
139804872390192

In [38]:
# uses of tuples:
def func(*args):
    print(args)
    
func(1,2,3,4,5)

# we pass tuple as args because we don't want different arguments to be changed.
# tuples are used, when we want to show something but don't want it to be changes.
# lists are used, when we want to show something and give access to make changes also: then use lists.

(1, 2, 3, 4, 5)

- python has unique feature of using tuple on left side of assignment operator. This allows you to assign more than one variable at a time when the left side is a sequence.
- But no. of values in tuple should be equal to

In [44]:
m=[4,"Harsh"]  #m is a list
(a,b)=m     #tuple (a,b) is assigned the values of m
# this is similar as a,b=m[0],m[1]

print("a: ",a,",      b: ",b)
print(type(a),type(b))

#

a:  4 ,      b:  Harsh
<class 'int'> <class 'str'>

In [48]:
#another example:
(a,b,c)=3,4,6
print(a,b,c)
#by default comma seperated values are treated as tuple. So we assign values of tuple(3,4,6) to
#tuple (a,b,c)

#as comma seperated values are tuples. So we do not need paranthesis on left side
a,b,c=3,4,6   #here value of tuple(3,4,6) is assigned to tuple(a,b,c)
#this is the most used method for using tuple on left side.(without paranthesis)

#another example
m=[4,"harsh"]
a,b=m
print(a,b)

3 4 6
4 harsh

##### Ques. What is easiest way to swap 2 values.
Ans. Using tuples on left side of assignment:
        b,a=a,b  
- Here it unpacks the tuple (a,b) and assign it's values to tuple(b,a)

In [49]:
a=4
b=5
a,b=b,a
print(a,b)

5 4

In [17]:
#concatentation
print(t2 + t)

#Repetion
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [21]:
t = (1,44,3,2)
print(min(t))

1

In [22]:
del t

###  tuple to list and list to tuple conversion:
- list() takes an 'iterable' as argument and convert that iterable into list. Iterable can be tuple, range(), string etc..
- tuple() takes an 'iterable' as argument and convert that into a tuple.

In [56]:
a=(1,2,3)
b=list(a)
print(b)
print(type(b))

#another iterable example:
# we discussed in for loop: that range is not a format of for loop. But range() is an iterable.
a=list(range(15))
print(a)
print(type(a))

#another example of iterable
a=list("Harsh")
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
<class 'list'>
['H', 'a', 'r', 's', 'h']
<class 'list'>

In [58]:
a=[2,3,4,5]
a=tuple(a)
print(a)
print(type(a))

# we can use other iterables also: like strings, list, range etc.

(2, 3, 4, 5)
<class 'tuple'>

In [66]:
#another very important usecase of tuple is: returning multiple values from a function
def addsub(a,b):
    return (a+b , a-b)

sum,difference = addsub(6,2)
print(sum,difference,sep='\n')

#here we can return multiple val using list also but we can only assign multiple values to a tuple
# as here we assigned result of addsub(6,2) to tuple(sum,difference)

8
4